body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}
.glass-of-water {
  width: 18.75rem;
  object-fit: cover;
}

.container {
  flex-direction: column;
  align-items: center;
  margin: 0.625rem;
}

.container > div {
  margin: 1em 0;
}

.add-button {
  background-color: #f9f8f9;
  border: none;
  border-radius: 50%;
  width: 5rem;
  font-size: 2rem;
  height: 5rem;
  font-weight: lighter;
}

.remind-container {
  text-align: center;
}

.submit-button {
  margin-top: 0.9375rem;
  background: #0275d8;
  border: none;
  color: white;
  padding: 0.625rem;
  border-radius: 0.5rem;
  width: 100%;
}

#login-signup-container {
  text-align: center;
}

#errors {
  color: red;
  text-align: center;
}

#submit-button:hover {
  cursor: pointer;
}

/* Loader */
.loader {
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #3498db;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}