body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.glass-of-water {
    width: 18.75rem;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    margin: 1.25rem 0;
    background-color: #F9F8F9;
    border: none;
    border-radius: 50%;
    width: 5rem;
    font-size: 2rem;
    height: 5rem;
    font-weight: lighter;
}