<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Water Reminder</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="./dashboard.css" />
</head>

<body>
  <div class="container">
    <div class="remind-form">
      <div>
        <img src="../../assets/images/glass-of-water.svg" alt="glass-of-water" class="glass-of-water" />
      </div>
    </div>

    <div id="content">
      Water Remaining:
      <div id="water-remaining"></div>
      ml

      <div class="add-button-wrapper">
        <button class="add-button" id="add-button">+</button>
      </div>

      <div id="errors" class="errors"></div>
    </div>

    <div class="dashboard-footer">
      <div>
        <a href="../history/history.html" id="history">History</a>
      </div>
      <div>
        <a href="../settings/settings.html" id="settings">Settings</a>
      </div>
      <div>
        <a href="#" id="logout">Logout</a>
      </div>
    </div>
  </div>

  <script src="../../custom_scripts/firebase/firebase-app.js"></script>
  <script src="../../custom_scripts/firebase/firebase-auth.js"></script>
  <script src="../../custom_scripts/firebase/firebase-database.js"></script>
  <script type="module" src="./dashboard.js"></script>
</body>

</html>