<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>History</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="./history.css" />
</head>

<body>
  <div class="container">
    <div class="remind-form">
      <div>
        <img src="../../assets/images/glass-of-water.svg" alt="glass-of-water" class="glass-of-water" />
      </div>
    </div>
    <div id="todaysDate"></div>
    <div id="back-button"></div>
  </div>

  <script src="../../custom_scripts/firebase/firebase-app.js"></script>
  <script src="../../custom_scripts/firebase/firebase-auth.js"></script>
  <script src="../../custom_scripts/firebase/firebase-database.js"></script>
  <script type="module" src="./history.js"></script>
</body>

</html>