.center-align {
  margin: 0 auto;
}

.spaced-columns th:not(:last-child),
.spaced-columns td:not(:last-child) {
  padding-right: 10px;
}

.center-align-button {
  text-align: center;
  margin: 1.25rem;
}

div#todaysDate {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loader {
  display: flex;
  width: 2rem;
}

#backButton {
  justify-content: center;
  align-items: center;
}

#todaysEntries {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

tr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}