<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>History</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="./history.css" />
</head>

<body>
  <div class="container">
    <div class="remind-form">
      <div>
        <img src="../../assets/images/glass-of-water.svg" alt="glass-of-water" class="glass-of-water" />
      </div>
    </div>
    <div id="history-container">
      <div id="todaysDate">
      </div>
    </div>
    <a href="../dashboard/dashboard.html" id="backButton">Back to Dashboard</a>
  </div>

  <div class="loader-container">
    <img src="../../assets/images/loader.svg" alt="loader" id="loader" />
  </div>

  <script type="module" src="./history.js"></script>
</body>

</html>