.back-button {
  text-align: center;
}

#settings-container {
  display: none;
}

#settings-container.visible {
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loader {
  display: flex;
  width: 2rem;
}